.cookieBackground {
  width: 50px;
  height: 50px;
  background: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);
  border-radius: 16px;

  & button {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 0;
    background: transparent;
    cursor: pointer;

    & span {
      display: inline-block;
    }
  }
}

.settings {
  position: relative;
  padding: 16px;
  width: 350px;
  background: var(--color-neutral-100);
  border: 1px solid var(--color-neutral-300);
  border-radius: 16px;

  & h1 {
    font-weight: 500;
    font-size: var(--font-sm);

    & .emoji {
      display: inline-block;
    }

    & .content {
      display: inline-block;
    }
  }

  & .buttons {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 12px;

    & button {
      padding: 8px 0;
      flex-grow: 1;
      background: var(--color-neutral-300);
      border-radius: 8px;
      border: 0;
      cursor: pointer;
      color: var(--color-foreground);
      font-weight: 500;
      font-size: var(--font-sm);
    }
  }
}
