---
import Section from "../section.astro";

interface Link {
  label: string;
  url: string;
}

const links = [
  {
    label: "GitHub",
    url: "https://github.com",
  },
  {
    label: "X (Twitter)",
    url: "https://x.com",
  },
  {
    label: "LinkedIn",
    url: "https://linkedin.com",
  },
  {
    label: "Bluesky",
    url: "https://bsky.app",
  },
];
---

<Section title="Connect">
  <div class="links">
    {links.map((link) => <a href={link.url}>{link.label}</a>)}
  </div>
</Section>

<style>
  .links {
    display: flex;
    column-gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;

    & a {
      color: var(--color-foreground);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: var(--color-foreground-subtler);
      text-underline-offset: 4px;
      font-size: var(--font-sm);
      font-weight: 500;
    }
  }
</style>
