---
import Section from "../section.astro";
---

<Section title="Today">
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
    pariatur incidunt placeat quisquam quam nihil dolorem est assumenda adipisci
    officia tempora, voluptatem blanditiis temporibus quibusdam. Consequatur ea
    totam iste amet?
  </p>
</Section>

<style>
  .text {
    color: var(--color-foreground-subtle);
  }
</style>
