---
import Section from "../section.astro";

const links = [
  {
    label: "GitHub",
    url: "https://github.com/mnmmhq",
  },
  {
    label: "X (Twitter)",
    url: "https://x.com/remvze",
  },
  {
    label: "Instagram",
    url: "https://instagram.com/remvze",
  },
];
---

<Section title="About">
  <p class="text">
    I’m an independent (design) engineer who designs through code. I care deeply
    about crafting elegant, intuitive user interfaces while writing clean,
    scalable code.
  </p>

  <div class="links">
    {links.map((link) => <a href={link.url}>{link.label}</a>)}
  </div>
</Section>

<style>
  .text {
    color: var(--color-foreground-subtle);
  }

  .links {
    display: flex;
    column-gap: 12px;
    row-gap: 8px;
    flex-wrap: wrap;
    margin-top: 32px;

    & a {
      color: var(--color-foreground);
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: #c0eb75;
      text-underline-offset: 4px;
      font-size: var(--font-sm);
      font-weight: 500;
    }
  }
</style>
