---
import { getCollection } from "astro:content";

import Items from "../items.astro";
import Section from "../section.astro";

const posts = await getCollection("blog");
const sorted = posts.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
const latest = sorted.slice(0, 3);
const normalized = latest.map((post) => ({
  title: post.data.title,
  description: post.data.description,
  date: post.data.date,
  url: `/blog/${post.id}`,
}));
---

<Section title="Blog" more={{ label: "view all", url: "/blog" }}>
  <Items items={normalized} />
</Section>
