---
import Section from "../section.astro";
import List from "../list.astro";

import { bookmarks } from "@/data/bookmarks";
---

<Section title="Bookmarks" more={{ label: "view all", url: "/bookmarks" }}>
  <List blank items={bookmarks} />
</Section>
