---
import Items from "../items.astro";
import Section from "../section.astro";

import { projects } from "@/data/projects";
---

<Section title="Projects" more={{ label: "view all", url: "/projects" }}>
  <Items items={projects.slice(0, 3)} blank />
</Section>
