---
import Section from "../section.astro";
import Items from "../items.astro";

const routes = [
  {
    title: "/about",
    description: "Learn more about me.",
    url: "/about",
  },
];
---

<Section title="Routes">
  <Items items={routes} />
</Section>
