.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 12px 24px;
  font-weight: 500;
  font-size: var(--font-sm);
  border-radius: 999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background: var(--color-neutral-950);
  color: var(--color-neutral-50);
  transition: 0.2s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:disabled {
    cursor: default;
  }

  & span {
    z-index: 3;
  }

  & .progress {
    position: absolute;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #bef264;
  }
}
