<footer class="footer">
  <p>© 2025 Minimum Template</p>
</footer>

<style>
  .footer {
    padding: 90px 0 45px;

    & p {
      color: var(--color-foreground-subtle);
      font-size: var(--font-sm);
    }
  }
</style>
