---
interface Props {
  title: string;
  description: string;
  backLabel: string;
  backUrl: string;
}

const { title, description, backLabel, backUrl } = Astro.props;
---

<section class="hero">
  <div class="back">
    <a href={backUrl}><span>~</span> {backLabel}</a>
  </div>
  <h1 class="title">{title}</h1>
  <p class="desc">{description}</p>
</section>

<style>
  .hero {
    padding: 180px 0 90px;

    & .back {
      margin-bottom: 24px;

      & a {
        color: var(--color-foreground-subtle);
        font-weight: 500;
        font-size: var(--font-xsm);
        text-decoration: none;

        & span {
          color: var(--color-foreground-subtler);
        }
      }
    }

    & .title {
      font-weight: 500;
      margin-bottom: 4px;
    }

    & .desc {
      color: var(--color-foreground-subtle);
    }
  }
</style>
