---
import { MdArrowOutward, MdArrowForward } from "react-icons/md";

import { formatDate } from "@/helpers/date";

interface Item {
  title: string;
  description: string;
  url: string;
  date?: Date;
}

interface Props {
  items: Item[];
  blank?: boolean;
}

const { items, blank = false } = Astro.props;
---

<ul class="items">
  {
    items.map((item) => (
      <li>
        <a
          href={item.url}
          class:list={{ blank }}
          target={blank ? "_blank" : "_self"}
        >
          {item.title}{" "}
          <span>{blank ? <MdArrowOutward /> : <MdArrowForward />}</span>
        </a>
        <p class="desc">{item.description}</p>
        {item.date && <p class="date">{formatDate(item.date)}</p>}
      </li>
    ))
  }
</ul>

<style>
  .items {
    list-style: none;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 28px;
      }

      & a {
        color: var(--color-foreground);
        font-weight: 500;
        margin-bottom: 4px;
        text-decoration: none;

        &.blank:hover {
          & span {
            transform: translate(1px, 0px);
          }
        }

        &:not(.blank):hover {
          & span {
            transform: translate(1px, 1px);
          }
        }

        & span {
          font-size: var(--font-sm);
          line-height: 0;
          color: var(--color-foreground-subtle);
          transition: 0.1s;
          display: inline-block;
          transform: translateY(1px);
        }
      }

      & .desc {
        color: var(--color-foreground-subtle);
        margin-bottom: 4px;
      }

      & .date {
        color: var(--color-foreground-subtler);
        font-size: var(--font-sm);
        font-variant-numeric: tabular-nums;
      }
    }
  }
</style>
