---
import { formatDate } from "@/helpers/date";

interface Item {
  title: string;
  url: string;
  date: string;
}

interface Props {
  items: Item[];
  blank?: boolean;
}

const { items, blank = false } = Astro.props;
---

<ul class="list">
  {
    items.map((item) => (
      <li>
        <a target={blank ? "_blank" : "_self"} href={item.url}>
          {item.title}
        </a>
        <div class="divider" />
        <p class="date">{formatDate(new Date(item.date))}</p>
      </li>
    ))
  }
</ul>

<style>
  .list {
    list-style: none;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 8px;
      }

      display: flex;
      align-items: center;
      column-gap: 8px;

      &:hover {
        & a {
          padding-left: 4px;
        }

        & .divider {
          border-color: var(--color-neutral-300);
        }

        & .date {
          color: var(--color-foreground-subtle);
        }
      }

      & a {
        color: var(--color-foreground);
        font-weight: 500;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
        transition: 0.2s;
        padding-left: 0;
      }

      & .divider {
        min-width: 20px;
        flex-grow: 1;
        border-bottom: 1px dashed var(--color-neutral-200);
        transition: 0.2s;
      }

      & .date {
        font-size: var(--font-xsm);
        transition: 0.2s;
        color: var(--color-foreground-subtler);
        font-variant-numeric: tabular-nums;
        flex-shrink: 0;
        white-space: nowrap;
        font-family: var(--font-mono);
        text-transform: uppercase;
      }
    }
  }
</style>
