.container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.textarea {
  height: 200px;
  background: linear-gradient(
    135deg,
    var(--color-neutral-100),
    var(--color-neutral-50)
  );
  border: 1px solid var(--color-neutral-300);
  border-radius: 20px;
  position: relative;

  & .placeholder,
  & textarea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    resize: none;
    background: transparent;
    border: none;
    border-radius: inherit;
    font-size: var(--font-sm);
    line-height: 1.6;
  }

  & textarea {
    color: var(--color-foreground);
    transition: 0.1s;
    outline: 0 solid var(--color-neutral-400);

    &:focus-visible {
      outline: 2px solid var(--color-neutral-400);
    }
  }

  & .placeholder {
    color: var(--color-foreground-subtler);
  }
}

.placeholderText {
  & span {
    display: inline-block;
  }
}
