.container {
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}

.tabBar {
  height: 50px;
  border: 1px solid var(--color-neutral-200);
  border-radius: 16px;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 4px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  background: transparent;
  color: var(--color-foreground-subtle);
  border: 1px solid transparent;
  font-size: var(--font-xsm);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  position: relative;
  border-radius: 12px;

  &.active {
    color: var(--color-foreground);
  }

  & span {
    position: relative;
    z-index: 2;
  }

  & .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      var(--color-neutral-50),
      var(--color-neutral-100)
    );
    border: 1px solid var(--color-neutral-100);
    box-shadow: inset 0 -1px 0 var(--color-neutral-200);
    border-radius: inherit;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      bottom: -6px;
      width: 80%;
      height: 1px;
      background: linear-gradient(
        90deg,
        transparent,
        var(--color-neutral-500),
        transparent
      );
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
