.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  aspect-ratio: 1/1;
  background: var(--color-neutral-200);
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  & .background {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: var(--color-neutral-100);
    border-radius: 11px;
    z-index: 2;
  }

  & .content {
    position: absolute;
    top: 1px;
    left: 1px;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    z-index: 3;

    & p {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: var(--font-sm);
      font-weight: 500;
    }
  }

  & .glow {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background: var(--color-neutral-600);
    border-radius: 50%;
    z-index: 1;
    filter: blur(20px);
  }
}
